body,html{
  background-color: #f4f6f9;
}

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

  .font-custom {
    font-family: 'Archivo Black', sans-serif;
  }