body,html{
  background-color: #f4f6f9;
}
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
.font-sans {
  font-family: 'Archivo Black', sans-serif;
}
label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
th {
  padding: 4px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  th {
    font-size: 14px;
  }
  td {
    padding: 2px;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  th {
    font-size: 12px;
  }
  td {
    font-size: 12px;
    line-height: 1.3;
  }
}